/*

StyleSheet

Last modified: 124/4/2021

@author: gard002

*/

/*
Body
*/
  
body{
    background: #1f1f1f;
    font-family: Arial, Helvetica, sans-serif, Times New Roman;
    color: white;
    margin: 0;
} 

/* 
Navagation
*/

.h1 {
    float: left;
    padding: 21px 21px;
    font-size: 30px;
}

.img {
    float: left;
    width: 70; 
    height: 70;
    padding: 2px 2.5px;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
}

ul.nav li a {
    display: block;
    color: white;
    padding: 21px 20px;
    text-decoration: none;
    font-size: 30px;
}

ul.nav li a:hover:not(.active) {
    background-color: #111;
}

ul.nav li a.active {
    background-color: #F40F0F;
}

ul.nav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
  ul.nav li.right, 
  ul.nav li {float: none;}
}
